body
  background: $global-bg-color
  font-family: $font-family
  font-weight: $body-font-weight
  color: $body-font-color
  position: relative
  -webkit-font-smoothing: $font-smoothing
  @include respond(all-phones)
    -webkit-text-size-adjust: none
    -ms-text-size-adjust: none
    width: 100%
    min-width: 0

html, body
  height: 100%
  margin: 0

.hide
  display: none

.hide.active, .show
  display: block

.center-align
  text-align: center

.navbar
  width: 100%
  display: block
  min-height: 40px
  position: relative
  border-top: 4px solid $navbar-color
  padding-top: 10px

  .columns
    text-align: center
    height: 42px
    a
      color: $navbar-color
      font-size: 16px
      line-height: 34px
      -webkit-font-smoothing: $font-smoothing
      text-rendering: optimizeLegibility

.centered.eight.columns.border-top
  border-top: 1px solid white
.centered.eight.columns.border-bottom
  border-bottom: 1px solid #dfe4ea
