@include respond(portrait-tablets) {

}
@include respond(all-phones) {
  body.blog_posts-index .row, body.blog_posts-show .row, body.pages-about .row {
    width: 91%;
    padding: 0 4.5% 0 4.5%;
  }
  a.next-post {
    font-size: 80%;
  }
  body.pages-index {
    .row.homepage center {
      padding-top: 2em;
      width: 80%;
      font-size: 20px;
    }
   .row.homepage center a.header {
      font-size: 32px;
    }
  }
  body.blog_posts-show, body.pages-about {
    .row.main p, .row.main ul li {
      line-height: 23px;
      font-size: 18px;
    }
    img.avatar {
      display: none;
    }
  }
  body.blog_posts-index {
    .featured-image {
      display: none;
    }
    .row.padding-bottom {
      margin-top: 30px;
      padding-bottom: 30px;
    }
    .four.columns.right-align {
      display: none;
    }
  }
  h1 {
    font-size: 24px;
    margin-top: 25px;
  }
  h3 {
    font-size: 20px;
  }
  body.blog_posts-show .row .published-at {
    display: none;
  }
  .blank-header {
    display: none;
  }
  .code-icon {
    display: none;
  }
  .navbar {
    background-color: $navbar-color;
    min-height: 25px;
    .row { display: none; }
    .mobile.nav-drawer.icon {
      display: block;
    }
    .website.name.mobile {
      display: block;
    }
    .columns.two {
      max-width: inherit;
    }
  }
  .centered.eight.columns.border-top, .centered.eight.columns.border-bottom {
    border: none;
  }
}
