.row
  .centered.eight.columns.border-bottom
  .centered.eight.columns.border-top
.featured-image
.row.padding-bottom
  .centered.eight.columns
    - @posts.each do |post|
      .row
        .eight.columns
          %p
            %a{ href: "/blog/#{post.permalink}", title: post.title }= post.title.elipse(42)
        .four.columns.right-align
          %p= post.published_at.datetime_prettify

