.row.main
  .centered.eight.columns.border-bottom
  .centered.eight.columns.border-top
    %p I'm from Michigan, which is where I earned a degree in Computer Science Engineering from Michigan State University. After completing my Calculus 4 final, I hopped in my Honda Civic containing everything I owned and drove straight to Manhattan Beach, California to find a front-end engineering position at a start-up.

    %p I spent the next two years doing front-end development on the LAMP stack for start-ups in the South Bay before being presented with an interview in San Francisco I couldn't pass up. thredUP, which was a pier to pier swapping network at the time, was looking to hire their second engineer.

    %p I joined thredUP as a Rails engineer over 3 years ago. It's been an amazing learning experience and I feel priveliged to have been a part of the company's growth. I'm happily employed and I'm not seeking any outside opportunities.
