.row.main.about
  .centered.eight.columns.border-bottom
  .centered.eight.columns.border-top
    %h1 About Me
    %p I'm from Michigan, which is where I earned a degree in Computer Science Engineering from Michigan State University. After completing my Calculus 4 final, I hopped in my Honda Civic containing everything I owned and drove straight to Manhattan Beach, California to find a front-end engineering position at a start-up.

    %p I spent the next two years doing front-end LAMP development for start-ups in the South Bay before being presented with an interview in San Francisco I couldn't pass up. thredUP, which at the time was a P2P swapping network, was looking to hire their second engineer.

    %p I joined thredUP as a front-end Rails engineer over 3 years ago. I transitioned from a front-end position to an all-stack position. I became the lead engineer at the end of my first year which ultimately blossomed into my current role as Director of Engineering during my third year. It's been an amazing learning experience and I feel privileged to have been (and continue to be) a part of the company's growth. I'm happily employed and I'm not seeking any outside opportunities.

    %p If you're an engineer in the Bay Area and you're looking for a job (or want to talk shop), let's grab a coffee or beer.
