.blank-header
%center.code-icon
  = image_tag "gray-code.png"
.row.homepage
  %center
    %a.header{ href: "/blog", title: 'Dan DeMeyere Blog' } Dan DeMeyere
    .divider
    %p<>
      %i<>
        Chief Product Officer at&nbsp;
        %a.thredup{ href: 'http://www.thredup.com', target: '_blank' }<> thredUP
        \.
        %br
        Casual&nbsp;
        %a{ href: 'https://medium.com/@dandemeyere', title: "My blog" }<> blogger
        \, Tottenham Hotspur fan,&nbsp;
        %a{ href: 'http://instagram.com/p/Y5gGI5mfrs/', title: 'What happens when I make breakfast'}<> maker
        &nbsp;of breakfast sandwiches, Michigan State&nbsp;
        %a{ href: '/about', title: "Learn more about me" }<>  spartan
        \.
    %p.lighter<>
      This website is an open source Rails app I built. Check it out on&nbsp;
      %a{ href: 'http://github.com/dandemeyere/website', title: 'The code I wrote to build this website' }<> GitHub
      \.
