.row.main
  .centered.eight.columns.border-bottom
  .centered.eight.columns.border-top
    %h1 Coming soon!
    %p
      Well probably not for a while. For now, please view
      %a{ href: "http://linkedin.com/in/dandemeyere/", title: "Dan DeMeyere's LinkedIn Profile" } my LinkedIn profile.
