body.blog_posts-show, body.pages-about, body.pages-work, body.pages-contact
  .align-right
    text-align: right
  .row.main
    p
      font-size: 22px
      line-height: 33px
      color: #3B3B3B
      font-family: 'Crimson Text', 'Hoefler Text', Georgia, serif
      &.alert
        padding: 10px 15px 0px
        margin: 0px
        color: #b00
      &.notice
        padding: 10px 15px 0px
        margin: 0px
        color: green
    .row.published-at p
      text-align: center
      color: #999
      font-size: 16px
      font-weight: lighter
      font-family: 'Open Sans', 'Crimson Text', 'Hoefler Text', Georgia, serif
  .row.footer
    iframe
      margin-top: 10px
    padding-bottom: 40px
    ul.tiles.two_up
      margin: 5px 0 35px 0
      padding-left: 0
      li
        margin-left: 0
        width: 50%
    img.avatar
      border-radius: 50%
    p, a
      margin: 5px 0 0 0
